* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background:#fff;
    color: #000;
}
// ################################## //

// FONTS //
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "shared/navbar";
@import "shared/header";
//
@import "modules/login";
@import "modules/home";
@import "modules/modal";
