.navbar {
    width: 300px;
    height: 100vh;
    background: #9472b2;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .info {
        
        width: 200px;
        height: 100px;
        background: #ffffff;
        color: #9472b2;
        border-radius: 15px;
        text-align: center;
        font-weight: 500;
        p {
            margin-top: 20px;
            text-align: center;
            line-height: 20px;
        }
        p:first-child {
            font-weight: bold;
            font-size: 22px;
        }
    }
    .menus {
        display: flex;
        flex-direction: row;

        margin-top: 5px;
        width: 200px;

        &.active {
            background: rgba(217, 217, 217, 0.2);
            border-radius: 15px;
            p {
                font-weight: bold;
            }
            margin-left: 5px;
        }
        svg {
            width: 40px;
            height: 40px;
            margin-right: 20px;
            cursor: pointer;
        }
        p {
            cursor: pointer;
        }
    }
}
